* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-truck,
.fa-headphones,
.fa-thumbs-up {
  font-size: 50px !important;
  margin-right: 10px;
  color: #212529;
}
.card1,
.card2,
.card3 {
  display: flex;
  width: 300px;
  height: 100px;
  background-color: white;
  box-shadow: 3px 4px 5px grey;

  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.mainCard {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 230px;
  height: auto;
  margin-top: 5px;
}
.imgs {
  height: 200px;
  width: 230px;
}
.card-text {
  font-weight: bold;
}
.btn-dark {
  width: 100%;
  background-color: #212529;
  border: 2px solid #f8f9fa !important;
}
.btn-dark:focus {
  background-color: #212529 !important;
  border: 2px solid #f8f9fa !important ;
  border: none;
}

.btn-dark:hover {
  background-color: #f8f9fa !important;
  color: #212529;
  border: 1px solid #212529 !important;
}
.most {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.most > h1 {
  text-shadow: 2px 2px 4px #212529;
}
/* Footer */
.float-right {
  margin-top: 20px;
}
.footer {
  width: 100%;
  background-color: #212529;
  height: 70px;
  margin-top: 20px;
}
.p1 {
  color: #f8f9fa;
  text-align: center;
}
.featurette-heading {
  margin-top: 10px;
}
.book {
  text-align: center;
}
.policy {
  margin: 30px 10px 30px 20px;
}
.privacy {
  margin-left: 20px;
}
.para {
  margin-left: 20px;
  margin-right: 20px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .card1,
  .card2,
  .card3 {
    width: 100%;
  }
  .card {
    position: relative;
    left: 60px;
  }
}
.lead {
  font-weight: 500;
}
